<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QClip</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <meta name="htmx-config" content='{"responseHandling": [{"code":"...", "swap": true}]}'>
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="{{url_for('main.index')}}"><h1>QClip</h1></a>
        </div>
        <div class="search">
            <input type="text">
            <a href="#">
                <i class='bx bx-search'></i>
            </a>
        </div>
        <div class="other">
            {% if user.is_authenticated %}
            <button class="upload" popovertarget="upload-popover">
                <i class='bx bx-upload'></i>
                <p>Upload</p>
            </button>
            <div class="account">
                <p>{{ user.username }}</p>
                <a href="{{ url_for('users.logout') }}"><i class='bx bx-log-out'></i></a>
            </div>
            {% else %}
            <div class="account">
                <a href="{{ url_for('users.login') }}"><i class='bx bx-log-in'></i></a>
            </div>
            {% endif %}
        </div>
    </nav>
    <div class="wrapper">
        {% for video in videos_page.items %}
        <a href="{{ url_for('videos.serve_video_player', video_slug=video.slug) }}" class="video">
            <img src="{{ url_for('videos.serve_video_thumbnail', video_slug=video.slug) }}">
            <div class="video-data">
                <h3>{{video.pretty_name}}</h3>
                <h4>by {{video.user.username}}</h4>
                <h4>{{video.views}} Views | {{video.created_at}}</h4>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="pagination">
        {% if videos_page.prev_num %}
        <a class="btn" href="{{ url_for('main.index', page=videos_page.prev_num) }}">Prev</a>
        {% endif %}
        {% for page_num in videos_page.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if videos_page.page == page_num %}
                <a class="btn" href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                <a class="btn" href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                <div class="btn">
                    ...
                </div>
            {% endif %}
        {% endfor %}
        {% if videos_page.next_num %}
        <a class="btn" href="{{ url_for('main.index', page=videos_page.next_num) }}">Next</a>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="popover" id="upload-popover" popover>
        <form hx-target="this" hx-swap="outerHTML" hx-get="{{ url_for('videos.upload_form') }}" hx-trigger="load">
    </div>
    {% endif %}
    </form>
    {% include 'partials/notifications.html' %}
</body>
</html>
